<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="scriptImports.html">

<dom-module id="github-profile">
    <template>
        <div class="container" hidden$="[[computeLoadStatus(userLoaded, repoLoaded)]]">
            <img class="avatar" src="{{user.avatar}}" />
            <div class="user-info">
                <a href="{{user.profile}}">{{user.username}}</a>
                <p>{{user.name}}</p>
                <span>{{user.followers}} Followers</span>
                <span>Following {{user.following}}</span>
            </div>
            <div class="repo-info">
                <span class="chevron left-chevron vertically-center" on-click="goLeft"></span>
                <template is="dom-repeat" items="{{repos}}" as="repo" indexAs="index">
                    <div class$="repo {{computeActiveStatus(index, activeRepo)}}">
                        <a href="{{repo.url}}">{{repo.name}}</a>
                        <div>Last updated: {{repo.lastUpdated}}</div>
                    </div>
                </template>
                <span class="chevron right-chevron vertically-center" on-click="goRight"></span>
            </div>
        </div>
        <style>
            .container {
                max-height: 320px;
                height: 100%;
                max-width: 540px;
                width: 100%;
                margin: 0 auto;
                background-color: #85D3ED;
                border: 5px solid #51C6ED;
            }
            .avatar {
                width: 25%;
                float: left;
            }
            .user-info {
                float: left;
            }
            .repo-info {
                position: relative;
                width: 300px;
                height: 80px;
                overflow: hidden;
                clear: left;
                margin: 0 auto;
            }
            .repo {
                display: none;
            }
            .repo.active {
                display: block;
                position: absolute;
                top: 50%;
                left: 16px;
                right: 16px;
                transform: translateY(-50%);
                padding: 5px;
                background-color: inherit;
            }
            .chevron {
                width: 16px;
                height: 16px;
                position: absolute;
            }
            .left-chevron {
                left: 0;
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAvElEQVQ4T2NkIBas+mLA9P///n+MjI4MYTwXYNoYidIP1czAwLjxXzhPArIewgZANTP+Zzj4N4I3AN1C/AbAbP7P+PAfO7cDQyDjB+INIEIzyDDsLiBSM3YDSNCMacDy7wpMTH/OM+DxM/4wgBhwgYGB8f4/Nm5HbIFGOBAhXjhArCH4ApEoQ3CnAyJdQkxCwusSYpPyAUYGhv1/w3kDCQcittwF885/xvX/IngSSctMMNVQQ/4xMjogZ2cA9tV/ETnWSM0AAAAASUVORK5CYII=);
            }
            .right-chevron {
                right: 0;
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABBUlEQVQ4T5WTTU7DMBCF33OlsqgluAInoDeBbEp3dW8QbsANGk5A2KFuCDfhJoCULooUP5Ri/tLESbyxbI8/zZs3Q4RlHssUxMoTayzsy/d9386fgG05Nx4FqFOIt35p7/o+1++/gPr0pLPJvsxBXgIqqqldI+FbDPQfECIn29JJyiC+eoMkJqkVcOB8ScpJXEhIuyR1A4Ik87HLCKy6JMUBAyQNAjQlVWCC61lx7EKs3HVNhHsC89GA4MoG4rs3uPrrSn8R97sNCQfpuTqxrtkXcRtDyhJu/NJmbQpjjdSachNy1MompCzgwU9n6fBWDlUGdE4yrRY2HzVMh3EGnDdwY8b5EyPPghFPRFc8AAAAAElFTkSuQmCC);
            }
            .vertically-center {
                top: 50%;
                transform: translateY(-50%);
            }
        </style>
    </template>
    
    <script>
        /*
            In Progress:
            Pass in a username to initialize with the profile information for that user
            
            To be done:
            If no username is passed in you will be prompted to provide a username, when provided
            the user profile info for that user will be displayed
            
            Apparently getting access tokens from Github requires using a server proxy
            it can't be done from a client side only application, thus the Oauth process
            cannot be done
        */
        (function (username) {
            var baseUrl = "https://api.github.com/";
            var userUrl = baseUrl + "users/";
            
            var timerId = null;
            
            // Extract only the needed info from the user object
            function getUserInfo(userName, cb) {
                Request.get(userUrl + userName, function (data) {
                    data = parseJSON(data);
                    cb({
                        name: data.name,
                        username: data.login,
                        avatar: data.avatar_url,
                        profile: data.html_url,
                        followers: data.followers,
                        following: data.following
                    });
                });
            }
            
            // Extract only the necessary info from each repo and return that object
            function getUserRepoInfo(userName, cb) {
                Request.get(userUrl.concat(userName, '/repos'), function (repos) {
                    repos = parseJSON(repos);
                    cb(repos.map(function (repo) {
                        return {
                            name: repo.name,
                            url: repo.html_url,
                            lastUpdated: Helpers.simpleDateString(new Date(repo.updated_at))
                        };
                    }));
                });
            }
            
            // Convenience method to parse JSON, catches errors here in one place
            // The error would come from the data not being valid JSON
            function parseJSON(data) {
                try {
                    return JSON.parse(data);
                } catch (err) {
                    console.error(err);
                }
            }
            
            // register a new element called proto-element
            Polymer({
                is: "github-profile",
                properties: {
                    username: String,
                    user: Object,
                    repos: Object,
                    userLoaded: Boolean,
                    repoLoaded: Boolean,
                    activeRepo: Number
                },
                computeLoadStatus: function (userStatus, repoStatus) {
                    return !userStatus && !repoStatus;
                },
                computeActiveStatus: function (repoIndex, activeIndex) {
                    return repoIndex === activeIndex ? 'active' : '';
                },
                goLeft: function () {
                    clearTimeout(timerId);
                },
                goRight: function () {
                    clearTimeout(timerId);
                },
                // add a callback to the element's prototype
                ready: function () {
                    var numRepos = 0;
                    
                    this.userLoaded = false;
                    this.repoLoaded = false;
                    this.activeRepo = 0;
                    
                    getUserInfo(username, function (data) {
                        this.user = data;
                        this.userLoaded = true;
                    }.bind(this));
                    
                    getUserRepoInfo(username, function (data) {
                       this.repos = data;
                       this.repoLoaded = true;
                       
                       numRepos = this.repos.length;
                       
                       // start ticker going through repos
                       if (numRepos > 0) {
                           timerId = setTimeout(function repoTimer() {
                               this.activeRepo++;
                               if (this.activeRepo === numRepos) {
                                   this.activeRepo = 0;
                               }
                               timerId = setTimeout(repoTimer.bind(this), 1000);
                           }.bind(this), 1000);
                       }
                    }.bind(this));
                }
            });
        }("rcasto"));
    </script>
</dom-module>