<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="scriptImports.html">
<link rel="import" href="loadingSpinner.html">

<dom-module id="github-profile">
    <template>
        <div class$="container [[computeLoadStyle(userLoaded, repoLoaded)]]">
            <loading-spinner hidden$="[[!computeLoadStatus(userLoaded, repoLoaded)]]"></loading-spinner>
            <div hidden$="[[computeLoadStatus(userLoaded, repoLoaded)]]">
                <div>
                    <input id="github-name" type="text" 
                        placeholder="Try your Github name here..." 
                        value="{{username::input}}" 
                        on-keyup="switchUser"/>
                </div>
                <div class="profile-info clear-fix">
                    <a href="{{user.profile}}" target="_blank">
                        <img class="avatar" src="{{user.avatar}}" />
                    </a>
                    <div class="user-info">
                        <a href="{{user.profile}}" target="_blank">{{user.username}}</a>
                        <p>{{user.name}}</p>
                        <div class="follower-info">
                            <p># Followers: {{user.followers}}</p>
                            <p># Following: {{user.following}}</p>
                        </div>
                    </div>
                </div>
                <div class="repo-info">
                    <span class="chevron left-chevron vertically-center" on-click="goLeft"></span>
                    <template is="dom-repeat" items="{{repos}}" as="repo" indexAs="index">
                        <div class$="repo vertically-center {{computeActiveStatus(index, activeRepo)}}">
                            <a href="{{repo.url}}" target="_blank">{{repo.name}}</a>
                            <div>Last updated: {{repo.lastUpdated}}</div>
                        </div>
                    </template>
                    <span class="chevron right-chevron vertically-center" on-click="goRight"></span>
                </div>
            </div>
        </div>
        <style>
            .container {
                position: relative;
                max-height: 320px;
                height: 100%;
                max-width: 420px;
                width: 100%;
                margin: 0 auto;
                padding: 10px;
                background-color: #85D3ED;
                border: 5px solid #51C6ED;
            }
            .container.loading {
                min-height: 240px;
            }
            #github-name {
                display: block;
                padding: 3px;
            }
            .profile-info, .repo-info, #github-name {
                max-width: 90%;
                margin: 0 auto;
                width: 100%;
            }
            .avatar {
                width: 25%;
                height: 100%;
                display: block;
                float: left;
            }
            .profile-info {
                padding: 12px;
            }
            .user-info {
                float: left;
                margin-left: 10px;
            }
            .user-info p {
                margin-top: 0;
            }
            .follower-info p {
                margin: 0;
            }
            .repo-info {
                height: 80px;
                overflow: hidden;
            }
            .repo {
                display: none;
            }
            .repo.active {
                display: block;
                width: calc(100% - 64px);
                float: left;
                text-align: center;
                margin: 0 auto;
                background-color: inherit;
            }
            .chevron {
                width: 16px;
                height: 16px;
                cursor: pointer;
                float: left;
            }
            .left-chevron {
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAvElEQVQ4T2NkIBas+mLA9P///n+MjI4MYTwXYNoYidIP1czAwLjxXzhPArIewgZANTP+Zzj4N4I3AN1C/AbAbP7P+PAfO7cDQyDjB+INIEIzyDDsLiBSM3YDSNCMacDy7wpMTH/OM+DxM/4wgBhwgYGB8f4/Nm5HbIFGOBAhXjhArCH4ApEoQ3CnAyJdQkxCwusSYpPyAUYGhv1/w3kDCQcittwF885/xvX/IngSSctMMNVQQ/4xMjogZ2cA9tV/ETnWSM0AAAAASUVORK5CYII=);
            }
            .left-chevron:active {
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAuElEQVQ4T2NkIBZM7TJgYPi3n4GByZEhu+wCTBsjUfphmhn/b2TIqkxA1kPYALjNDAcZsisC0C3EbwDcZoaHDD/ZHRgKCz8QbwARmkGGYXcBkZqxG0CCZkwDprcrMPxjPM/AiNvP+MMAZMB/xgsM/xnuM/xid8QWaIQDEeQFxn8HiDUEdyASaQjudECkSwgnJAIuIS4pgwxhYNjPkFURSDgQseUuhHfWM2RXJJKWmWCq4YYwOSBnZwA3h2wRtS232gAAAABJRU5ErkJggg==);
            }
            .right-chevron {
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABBUlEQVQ4T5WTTU7DMBCF33OlsqgluAInoDeBbEp3dW8QbsANGk5A2KFuCDfhJoCULooUP5Ri/tLESbyxbI8/zZs3Q4RlHssUxMoTayzsy/d9386fgG05Nx4FqFOIt35p7/o+1++/gPr0pLPJvsxBXgIqqqldI+FbDPQfECIn29JJyiC+eoMkJqkVcOB8ScpJXEhIuyR1A4Ik87HLCKy6JMUBAyQNAjQlVWCC61lx7EKs3HVNhHsC89GA4MoG4rs3uPrrSn8R97sNCQfpuTqxrtkXcRtDyhJu/NJmbQpjjdSachNy1MompCzgwU9n6fBWDlUGdE4yrRY2HzVMh3EGnDdwY8b5EyPPghFPRFc8AAAAAElFTkSuQmCC);
            }
            .right-chevron:active {
                content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA+0lEQVQ4T5WTO27CQBCGv3EknC65Qk4QbkI4AUuLG7vh0dEh0hgKaENu4NwkN0noMFIYtCBjcFg/plrNjj7NP/OPkMV6HqLaA69PMPy+5CsecvlfvbfhLwF5AqYE42UdSA6w1XH8TCvdIHSAhNTvE0W/ZaBbQFa5mhlEFsAP6nXLJN0HWJCVJIcN8IoSuiS5AZkkf7cA6bkklQNqSKoHKEpCugxGiU03A3D4QGjTGGC3gsSgW3h4u95K9RBbaYxgUL7Y+6boi/I15i1HDEbWF//CbSRHy0XCPSufW0Y/SR/D+lY+HdNpyi+ohgQT68LKyDuw54wa1DNNzvkIi/BjEcFVfRMAAAAASUVORK5CYII=);
            }
        </style>
    </template>
    
    <script>
        /*
            In Progress:
            Pass in a username to initialize with the profile information for that user
            
            To be done:
            If no username is passed in you will be prompted to provide a username, when provided
            the user profile info for that user will be displayed
            
            Apparently getting access tokens from Github requires using a server proxy
            it can't be done from a client side only application, thus the Oauth process
            cannot be done
        */
        (function (username) {
            var baseUrl = "https://api.github.com/";
            var userUrl = baseUrl + "users/";
            
            var timerId = null;
            var timerDelay = 5000;
            
            var arrowTimerId = null;
            var arrowTimerDelay = 10000;
            
            var keyTimerId = null;
            var keyTimerDelay = 2000;
            
            // Extract only the needed info from the user object
            function getUserInfo(userName, cb) {
                Request.get(userUrl + userName).then(function (data) {
                    data = parseJSON(data);
                    cb({
                        name: data.name,
                        username: data.login,
                        avatar: data.avatar_url,
                        profile: data.html_url,
                        followers: data.followers,
                        following: data.following
                    });
                });
            }
            
            // Extract only the necessary info from each repo and return that object
            function getUserRepoInfo(userName, cb) {
                Request.get(userUrl.concat(userName, '/repos')).then(function (repos) {
                    repos = parseJSON(repos);
                    cb(repos.map(function (repo) {
                        return {
                            name: repo.name,
                            url: repo.html_url,
                            lastUpdated: Helpers.simpleDateString(new Date(repo.updated_at))
                        };
                    }));
                });
            }
            
            // These function will have their context bound to the polymer element instance
            function startRepoTick() {
                if (this.repos.length > 1) {
                    timerId = setTimeout(function repoTimer() {
                        this.activeRepo++;
                        if (this.activeRepo === this.repos.length) {
                            this.activeRepo = 0;
                        }
                        timerId = setTimeout(repoTimer.bind(this), timerDelay);
                    }.bind(this), timerDelay);   
                }
            }
            
            function stopRepoTick() {
                clearTimeout(timerId);
            }
            
            function startScrollTick() {
                arrowTimerId = setTimeout(function () {
                    startRepoTick.apply(this);
                }.bind(this), arrowTimerDelay);
            }
            
            function stopScrollTick() {
                clearTimeout(arrowTimerId);
            }
            
            function go(numToGo) {
                this.activeRepo += numToGo
                if (this.activeRepo < 0) {
                    this.activeRepo = this.repos.length - 1;
                }
                if (this.activeRepo >= this.repos.length) {
                    this.activeRepo = 0;
                }
                stopRepoTick();
                stopScrollTick();
                startScrollTick.apply(this);
            }
            
            // Convenience method to parse JSON, catches errors here in one place
            // The error would come from the data not being valid JSON
            function parseJSON(data) {
                try {
                    return JSON.parse(data);
                } catch (err) {
                    console.error(err);
                }
            }
            
            // register a new element
            Polymer({
                is: "github-profile",
                properties: {
                    username: String,
                    user: Object,
                    repos: Object,
                    userLoaded: Boolean,
                    repoLoaded: Boolean,
                    activeRepo: Number
                },
                computeLoadStatus: function (userStatus, repoStatus) {
                    return !userStatus && !repoStatus;
                },
                computeLoadStyle: function (userStatus, repoStatus) {
                    return this.computeLoadStatus(userStatus, repoStatus) ? 'loading' : '';
                },
                computeActiveStatus: function (repoIndex, activeIndex) {
                    return repoIndex === activeIndex ? 'active' : '';
                },
                goLeft: function () {
                    go.call(this, -1);
                },
                goRight: function () {
                    go.call(this, 1);
                },
                switchUser: function () {
                    clearTimeout(keyTimerId);
                    keyTimerId = setTimeout(function () {
                        stopRepoTick();
                        stopScrollTick();
                        this.ready();
                    }.bind(this), keyTimerDelay);
                },
                // add a callback to the element's prototype
                ready: function () {
                    this.userLoaded = false;
                    this.repoLoaded = false;
                    this.activeRepo = 0;
                    
                    getUserInfo(this.username || username, function (data) {
                        this.user = data;
                        this.userLoaded = true;
                    }.bind(this));
                    
                    getUserRepoInfo(this.username || username, function (data) {
                       this.repos = data;
                       this.repoLoaded = true; 
                       startRepoTick.apply(this);
                    }.bind(this));
                }
            });
        }("rcasto"));
    </script>
</dom-module>