@mobile-breakpoint: 360px;
@website-max-width: 548px;

*, *:before, *:after {
    box-sizing: border-box; 
}

html {
    @media(min-width: @website-max-width) {
        background: url("../images/code-and-beer.jpg") no-repeat center center fixed;;
        background-size: cover; 
    }
}
body {
    background-color: #3A7041;
    max-width: @website-max-width;
    margin: 0 auto;
    border-width: 0 2px;
    border-style: solid;
    border-color: #4BBD5A;
    padding: 12px;
}

.header {
    text-align: center;
    
    h1 {
        margin: 0;
    }
}

.about-me {
    margin-bottom: 5px;
    
    .profile-pic {
        width: 120px;
        height: 100%;
        margin: 0 auto;
        display: block;
        
        @media(min-width: @mobile-breakpoint) {
            float: left;
            margin-right: 5px;
        }
    }
    
    .bio {
        position: static;
        
        .arrow {
            width: 16px;
            height: 16px;
            background-image: url("../images/arrow-up.svg");
            margin: 5px auto;
            
            @media(min-width: @mobile-breakpoint) {
                margin: 0 5px 0 0;
                float: left;
                background-image: url("../images/arrow-left.svg");
            }
        }
        
        .bio-info {
            margin: 0;
            padding: 0 5px;
        }
        
        @media(min-width: @mobile-breakpoint) {
            height: 160px;
            .vertically-center;
        }
    }
    
    @media(min-width: @mobile-breakpoint) {
        height: 160px;
    }
}

// Util stylings
.vertically-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.slidetop {
    animation-duration: 3s;
    animation-name: slidetop;
}
@keyframes slidetop {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

.clear-fix {
    zoom: 1;
    
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}