@mobile-breakpoint: 360px;
@website-max-width: 1024px;
@height-breakpoint: 420px;  // Should be near height of content of page

*, *:before, *:after {
    box-sizing: border-box; 
}

body {
    padding: 12px;
    max-width: @website-max-width;
    width: 100%;
    margin: 0 auto;
}
html, body {
    @media (min-height: @height-breakpoint) {
        height: 100%;
    }
}

.header {
    text-align: center;
    
    h1 {
        margin: 0;
    }
}

.nav-bar {
    .nav-list {
        list-style: none;
        margin: 0;

        .nav-item {
            display: inline-block;
            width: 80px;
            text-align: center;
            padding: 5px;
        }
    }
}

.about-me {
    margin: 15px 0 10px 0;
    
    .profile-pic {
        width: 120px;
        height: 100%;
        margin: 0 auto;
        display: block;
        
        @media (min-width: @mobile-breakpoint) {
            float: left;
            margin-right: 5px;
        }
    }
    
    .bio {
        .arrow {
            width: 16px;
            height: 16px;
            background-image: url("../images/arrow-up.svg");
            margin: 5px auto;
            
            @media (min-width: @mobile-breakpoint) {
                margin: 0 5px 0 0;
                float: left;
                background-image: url("../images/arrow-left.svg");
            }
        }
        
        .bio-info {
            margin: 0;
            text-align: center;
            
            @media (min-width: @mobile-breakpoint) {
                text-align: initial;
            }
        }
        
        @media (min-width: @mobile-breakpoint) {
            height: 160px;
        }
    }
    
    @media (min-width: @mobile-breakpoint) {
        height: 160px;
    }
}

.blog-entries {
    .blog-preview {
        padding: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid black;

        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }
    }
}

.blog-entry {

}