@mobile-breakpoint: 360px;
@website-max-width: 75%;
@height-breakpoint: 420px;  // Should be near height of content of page

*, *:before, *:after {
    box-sizing: border-box; 
}

html {
    @media (min-width: @website-max-width) {
        background: url("../images/code-and-beer.jpg") no-repeat center center fixed;;
        background-size: cover; 
    }
}
body {
    background-color: #3A7041;
    max-width: @website-max-width;
    margin: 0 auto;
    border-width: 0 2px;
    border-style: solid;
    border-color: #4BBD5A;
    padding: 12px;
}
html, body {
    @media (min-height: @height-breakpoint) {
        height: 100%;
    }
}

.header {
    text-align: center;
    
    h1 {
        margin: 0;
    }
}

.nav-bar {
    .nav-list {
        list-style: none;
    }
}

.about-me {
    margin: 15px 0 10px 0;
    
    .profile-pic {
        width: 120px;
        height: 100%;
        margin: 0 auto;
        display: block;
        
        @media (min-width: @mobile-breakpoint) {
            float: left;
            margin-right: 5px;
        }
    }
    
    .bio {
        .arrow {
            width: 16px;
            height: 16px;
            background-image: url("../images/arrow-up.svg");
            margin: 5px auto;
            
            @media (min-width: @mobile-breakpoint) {
                margin: 0 5px 0 0;
                float: left;
                background-image: url("../images/arrow-left.svg");
            }
        }
        
        .bio-info {
            margin: 0;
            text-align: center;
            
            @media (min-width: @mobile-breakpoint) {
                text-align: initial;
            }
        }
        
        @media (min-width: @mobile-breakpoint) {
            height: 160px;
        }
    }
    
    @media (min-width: @mobile-breakpoint) {
        height: 160px;
    }
}