extends ./layout.pug

block content
    .about-me
        img.profile-pic(src='images/pic.jpg')
        .bio
            .arrow
            p.bio-info
                | Hey that's me haha.  I'm a Software Engineer based in Seattle working at Microsoft currently.
                | I love the web and enjoy programming for it.  Welcome to my website I hope you like it!