div(class="footer row")
	p(class="col-xs-12") This is the footer of the site

script(type="text/javascript", src="/bower_components/less/dist/less.min.js")
script(type="text/javascript", src="/bower_components/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/bower_components/bootstrap/dist/js/bootstrap.min.js")

script(type="text/javascript", src="/javascripts/main.js")