extends layout

block content

	div(class="content row")
		div(class="main-content col-sm-8 col-md-8")
			<button type="button" class="btn btn-default" id="add-content">Click to add content</button>

			section
				h2 Welcome to my site!
				p(class="lead") Still in development a bit, but will soon have a blog component and projects section with more to come.  Explore and let me know about any problems you experience or awesomeness you want to share.

		div(class="sidebar hidden-xs col-sm-4 col-md-4")
			p Maecenas sodales ac metus vitae mollis. In ut magna tincidunt, pretium massa nec, elementum metus. Fusce pulvinar eu nunc id sagittis. Sed felis mauris, sollicitudin sed arcu non, suscipit vestibulum magna. Sed tincidunt, erat vulputate rutrum luctus, velit arcu elementum justo, non tincidunt metus orci pharetra tortor. Praesent auctor elit ac leo egestas gravida. Aliquam eget fringilla augue. Duis vitae metus sit amet ipsum semper efficitur.