doctype html
html
  head
    title Climbing Code - Random ramblings and more...
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // Load styles depending on environment
    if environment === 'production'
      link(rel='stylesheet', href='/styles/website.css')
    else
      link(rel='stylesheet' href='/normalize.css/normalize.css')
      link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet' href='/styles/styles.css')
  body
    div(class='header')
      h1 Climbing Code
    
    div(class='nav-bar')
        button.nav-item(data-route='/')
          <i class="fa fa-home" aria-hidden="true"></i> Home
        button.nav-item(data-route='/about')
          <i class="fa fa-male" aria-hidden="true"></i> About
        button.nav-item(data-route='/resume')
          <i class="fa fa-code" aria-hidden="true"></i> Resume

    div(class='content')
      block content
    
    // This must be included before all compiled scripts
    script(type='text/javascript', src='/babel-polyfill/dist/polyfill.min.js')

    // Load Javascript files depending on environment
    if environment === 'production'
        script(type='text/javascript', src='/scripts/website-min.js')
    else
        script(type='text/javascript' src='/page/page.js')
        script(type='text/javascript' src='/scripts/util/helpers.js')
        script(type='text/javascript' src='/scripts/util/request.js')
        script(type='text/javascript' src='/scripts/main.js')