doctype html
html
	head
		title= title

		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet/less", href="/stylesheets/styles.less")
	body
		div(class="container")
			div(class="header row", href="#")
				div(class="header-links col-xs-12")
					a(class="btn btn-default", href="#") Home
					a(class="btn btn-default", href="#") Projects
					a(class="btn btn-default", href="#") About
					a(class="btn btn-default", href="#") Contact

			block content

			include footer.jade