doctype html
html
  head
    title The Awesome Site of Richie Casto
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // Load styles depending on environment
    if environment === 'production'
      link(rel='stylesheet', href='styles/website.css')
    else
      link(rel='stylesheet' href='normalize.css/normalize.css')
      link(rel='stylesheet' href='styles/styles.css')
  body
    .header
      h1 Climbing Code
    
    .nav-bar
      ul.nav-list
        li.nav-item 
          a(href='/') Home
        li.nav-item 
          a(href='/images/resume.pdf') Resume

    #content
    
    // This must be included before all compiled scripts
    script(type='text/javascript', src='babel-polyfill/dist/polyfill.min.js')

    // Load Javascript files depending on environment
    if environment === 'production'
        script(type='text/javascript', src='scripts/website-min.js')
    else
        script(type='text/javascript' src='scripts/util/helpers.js')
        script(type='text/javascript' src='scripts/main.js')
        script(type='text/javascript' src='scripts/blogFetch.js')